.main-container-header {
  background: #263868;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-header {
  width: 75px;
  height: 41px;
  margin-top: 8px;
  margin-left: 24px;
  margin-bottom: 10px;
  gap: 0px;
  opacity: 0px;
}
.button-header {
  font-size: 12px;
  font-family: 'roboto';
  font-weight: 500;
  color: #fff;
  width: 70px;
  height: 32px;
  border: 1px solid #fff;
  border-radius: 8px;
  margin-right: 5px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .button-header {
    margin-right: 50px;
  }
}
